configuration{
    modi: "run,drun";
    lines: 6;
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "frosted-purple"

element-text, element-icon, mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    transparency: "real";
    height: 360px;
    border: 3px;
    border-radius: 10px;
    border-color: @border-col;
    background-color: @bg-col;
}

mainbox {
    background-color: transparent;
}

inputbar {
    children: [prompt,entry];
    background-color: transparent;
    border-radius: 6px;
    padding: 2px;
}

prompt {
    background-color: @blue;
    padding: 6px;
    text-color: @bg-col-solid;
    border-radius: 3px;
    margin: 20px 0px 0px 20px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 20px 20px 0px 10px;
    text-color: @fg-col;
    background-color: transparent;
    placeholder:"Search";
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 20px 0px 20px;
    columns: 1;
    background-color: transparent;
}

element {
    padding: 5px;
    background-color: transparent;
    text-color: @fg-col;
    border-radius: 5px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color: @selected-col;
    text-color: @fg-col2;
}

mode-switcher {
    spacing: 0;
}

button {
    padding: 10px;
    background-color: transparent;
    text-color: @grey;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
    background-color: @selected-col;
    text-color: @fg-col2;
    border-radius: 5px;
}
