* {
    bg-col:  #11111ba0;
    bg-col-solid: #11111b;
    bg-col-light: #181825a0;
    border-col: #89b4fa;
    selected-col: #89b4faa0;
    blue: #89b4fa;
    fg-col: #cdd6f4;
    fg-col2: #11111b;
    grey: #a6adc8;
    width: 600;
}
